<%- include("partials/header"); -%>
<div>
    <h1>Cargar nueva Combi</h1>
    <datalist id="choferes">
        <% data.forEach(function(chofer) { %>
           <option value="<%= chofer.email %>"><%= chofer.nombre%> <small>
                <%= chofer.apellido %> </small></option>
                 <% }); %>
    </datalist>
    <div class="form-group">
        <label for="">Patente:</label>
      <input type="text" name="patente" id="patente" class="   alta" >
    </div>
      <div id="errP" class="err"></div>
      <br>
    <div class="form-group">
      <label for="marca">Marca:</label>
      <input type="text" name="marca" id="marca" class="   alta">
    </div>
    <br>
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" name="modelo" id="modelo" class="   alta" >
    </div>
    <hr>
    <div class="form-group">
      <label for="chofer">Chofer:</label>
    <input type="search" name="chofer" id="chofer" list="choferes" class="  alta">
      <input type="text" id="nombre" name="nombre" disabled>
    </div>
    <hr>
      <div id="errC" class="err"></div>
    <div class="form-group">
      <label for="asientos">Cantidad de Asientos</label>
      <input type="number" name="asientos" id="asientos" min="1" class="   alta" >
    </div>
    <br>
    <label for="tipo">Tipo de Combi: </label>
    <br>
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tipo" id="comoda" value="comoda " checked>
        Comoda
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tipo" id="super" value="super">
        Super Comoda
      </label>
      <div id="err" class="err"></div>
      <br>
      <button id="guardar">Guardar</button>

      <% 
            data.forEach( (chofer) => {  %>
      <input type="hidden" id="<%= chofer.email %>" value="<%=chofer.nombre%>-<%=chofer.apellido%>">
      
      
      <% }); %>
</div>
<script src="/js/alta-combi.js"></script>

<%- include("partials/footer"); -%>