<%- include("partials/header"); -%>
<h2>Alta de rutas</h2>
<datalist id="lugares">
  <% lugares.forEach(function(lugar) { %>
  <option value="<%= lugar._id %>"><%= lugar.ciudad%> <small>
      <%= lugar.provincia %> </small></option>
  <% }); %>
</datalist>
<datalist id="combis">
  <% combis.forEach(function(combi) { %>
  <option value="<%= combi.patente %>"><%= combi.marca %>-<%= combi.modelo %>-<%= combi.patente %> </small></option>
  <% }); %>
</datalist>
<div><% if(!combis.length){ %>
  <p class="er">No hay Combis cargadas, pulse <a href="/alta-combi">aqui</a> para cargar un combi</p>
  <% }%></div>
  <div><% if(!lugares.length){ %>
    <p class="er">No hay Lugares cargar, pulse <a href="/cargar-lugar">aqui</a> para cargar un lugar</p>
    <% }%></div>
<div id="err"></div>
<label for="origen">Origen:</label>
<input type="search" class="ruta" name="origen" id="origen" list="lugares" class="form-control alta">
<label for="ciudadO">Ciudad:</label>
<input type="text" class="ruta" name="ciudadO" id="ciudadO" class="form-control alta" disabled>
<label for="provinciaO">Provincia:</label>
<input type="text" class="ruta" name="provinciaO" id="provinciaO" class="form-control alta" disabled>
<hr>
<label for="destino">Destino:</label>
<input type="search" class="ruta" name="destino" id="destino" list="lugares" class="form-control alta">
<label for="ciudadD">Ciudad:</label>
<input type="text" class="ruta" name="ciudadD" id="ciudadD" class="form-control alta" disabled>
<label for="provinciaD">Provincia:</label>
<input type="text" class="ruta" name="provinciaD" id="provinciaD" class="form-control alta" disabled>
<hr>
<label for="combi">Combi:</label>
<input type="search" class="ruta" name="combi" id="combi" list="combis" class="form-control alta">
<label for="chofer">Chofer:</label>
<input type="text" class="ruta" name="chofer" id="chofer" class="form-control alta" disabled>

<hr>
<label for="distancia">Distancia:</label><br>
<input class="ruta" type="text" id="distancia" name="distancia" required /><br>
<label for="hora">Hora:</label><br>
<input class="ruta" type="time" id="hora" name="hora" required /><br>
<button type="submit" id="guardar">Agregar</button>


<% lugares.forEach(function(lugar) { %>
<input type="hidden" class="<%= lugar._id %>" name="ciudad" value="<%= lugar.ciudad %>">
<input type="hidden" class="<%= lugar._id %>" name="provincia" value="<%= lugar.provincia %>">
<% }); %>
<% combis.forEach(function(c) { %>
<input type="hidden" id="<%=c.patente%>"  value="<%= c.chofer.nombre %> <%= c.chofer.apellido %>">
<% }); %>
<script src="/js/cargar-ruta.js"></script>
<%- include("partials/footer"); -%>