<%- include("partials/header"); -%>
<h2>Alta viaje</h2>

<datalist id="rutas">
<% 
        data.forEach( (ruta) => { %>
<option value="<%= ruta._id %>">
  <%= ruta.origen.nombre %>-<%= ruta.destino.nombre %> -<%= ruta.hora %>
</option>
<% }); %>

</datalist>

<div>
  <div><% if(!data.length){ %>
    <p class="er">No hay Lugares cargar, pulse <a href="/cargar-lugar">aqui</a> para cargar un lugar</p>
    <% }%></div>
    <div id="err"></div>


    <label for="ruta"> Ruta:</label>
    <input type="search" name=" ruta" id="ruta" class="mV"  list="rutas">
    <label for="ciudadO">Cuidad Origen:</label>
    <input type="text" name="ciudadO" id="ciudadO" disabled>
    
    <label for="ciudadD">Cuidad Destino:</label>
    <input type="text" name="ciudadD" id="ciudadD" disabled>
    
    <label for="ciudadD">Combi:</label>
    <input type="text" name="combi" id="combi" disabled>
    
    
    <label for="hora">Hora:</label>
    <input type="time" class="mV" id="hora" name="hora"  disabled />
    <hr>
  
    <label for="fecha">Fecha:</label>
    <input type="date" class="viaje" id="fecha" name="fecha" />
    <br>
    <br>
    <label for="llegada">Fecha de llegada:</label>

    <input
    class="viaje"
      type="datetime-local"
      id="llegada"
      name="llegada"
      value=""
      min=""
      max=""
    />
    <br>
    <br>

    <label for="ruta">Precio:</label>
    <input type="text" class="viaje" id="precio" name="precio" />

    <label for="asientos">Cantidad de asientos:</label>
    <input type="text" class="viaje" id="asientos" name="asientos" />
    <br />
    <button id="guardar">Cargar</button>
</div>

<% 
      data.forEach( (ruta) => { %>
<input type="hidden" id="<%=ruta._id%>" value="<%=ruta.hora%>">
<input type="hidden" class="<%=ruta._id%>" name="origen" value="<%=ruta.origen.nombre%>-<%=ruta.origen.provincia%>">
<input type="hidden" class="<%=ruta._id%>" name="destino" value="<%=ruta.destino.nombre%>-<%=ruta.destino.provincia%>">

<input type="hidden" class="<%=ruta._id%>" name="combi" value="<%=ruta.combi.patente%>">
      
      <% }); %>
<script src="/js/cargar-viaje.js"></script>
<%- include("partials/footer"); -%>
