<%- include("partials/header"); -%>
<h2>Alta de rutas</h2>

<form action = "/cargar-rutas" method="POST">
    <label for="origen">Origen:</label><br>
    <select name="origen" id="origen">
        <% lugares.forEach( (lugar) => { %>
        <option value="<%= lugar._id %>">
          <%= lugar.ciudad %>-<%= lugar.provincia %>
        </option>
        <% }); %>
    </select><br>
    <label for="destino">Destino:</label><br>
    <select name="destino" id="destino">
        <% lugares.forEach( (lugar) => { %>
        <option value="<%= lugar._id %>">
          <%= lugar.ciudad %>-<%= lugar.provincia %>
        </option>
        <% }); %>
    </select><br>
    <label for="combi">Combi:</label><br>
    <select name="combi" id="combi">
        <% combis.forEach( (combi) => { %>
        <option value="<%= combi._id %>">
          <%= combi.marca %>-<%= combi.modelo %>-<%= combi.patente %>
        </option>
        <% }); %>
    </select><br>  
    <label for="distancia">Distancia:</label><br>
    <input type="text" id="distancia" name="distancia" required/><br>
    <label for="hora">Hora:</label><br>
    <input type="time" id="hora" name="hora" required /><br>
    <button type="submit">Agregar</button>
</form>

<%- include("partials/footer"); -%>
