<%- include("partials/header"); -%>
<h2>Alta viaje</h2>

<datalist id="rutas">


 

</datalist>

<div>
  <div><% if(!data.length){ %>
    <p class="er">No hay Lugares cargar, pulse <a href="/cargar-lugar">aqui</a> para cargar un lugar</p>
    <% }%></div>


    <label for="ruta"> Ruta:</label>
    <select name="ruta" id="ruta">
      <% 
              data.forEach( (ruta) => { %>
      <option value="<%= ruta._id %>">
        <%= ruta.origen.nombre+" "+ruta.origen.provincia %> - <%= ruta.destino.nombre+" "+ruta.destino.provincia %> - <%= ruta.hora %> - <%=ruta.combi.patente%>
      </option>
      <% }); %>
      </select><br>
      <small>*formato: origen, destino, hora , patente de la combi asignada a la ruta</small>
      <div id="errR" class="err"></div>
      <div style=" margin: 3px; padding: 1px; ">
        <p>Datos de la combi:</p>
        <label for="marca">Marca:</label>
        <input id="marca" disable>
        <label for="modelo">Modelo:</label>
        <input id="modelo" disable>
        <label for="tipo">Tipo:</label>
        <input id="tipo" disable>
        </div>
    <hr>
  
    <label for="fecha">Fecha:</label>
    <input type="date" class="viaje" id="fecha" name="fecha" />
    <br>
    <br>
    <label for="llegada">Fecha de llegada:</label>

    <input
    class="viaje"
      type="datetime-local"
      id="llegada"
      name="llegada"
      value=""
      min=""
      max=""
    /><div id="errL" class="err"></div>
    <br>
    <br>

    <label for="ruta">Precio:</label>
    <input type="text" class="viaje" id="precio" name="precio" />

    <label for="asientos">Cantidad de asientos:</label>
    <input type="number" class="viaje" id="asientos" name="asientos" />
    <div id="errA" class="err"></div>
    <br>
    <br>
    <div id="err" class="err"></div>
    <br>
    <button id="guardar">Cargar</button>
</div>

<% 
      data.forEach( (ruta) => { %>
<input type="hidden"  name="hora" id="<%=ruta._id%>" value="<%=ruta.hora%>">
<input type="hidden" class="<%=ruta._id%>" name="marca" value="<%=ruta.combi.marca%>">
<input type="hidden" class="<%=ruta._id%>" name="modelo" value="<%=ruta.combi.modelo%>">

<input type="hidden" class="<%=ruta._id%>" name="tipo" value="<%=ruta.combi.tipo%>">
      
      <% }); %>
<script src="/js/cargar-viaje.js"></script>
<%- include("partials/footer"); -%>
