<%- include("partials/header"); -%>
<h2>Alta viaje</h2>
<div>
    <div id="err"></div>
    <label for="ruta">Elige una ruta:</label>
    <select name="ruta" class="viaje" id="ruta">
      <% data.forEach( (ruta) => { %>
      <option value="<%= ruta._id %>">
        <%= ruta.origen.nombre %>-<%= ruta.destino.nombre %>
      </option>
      <% }); %>
    </select>
  
    <label for="fecha">Fecha:</label>
    <input type="date" class="viaje" id="fecha" name="fecha" />
    <label for="hora">Hora:</label>
    <input type="text" class="viaje" id="hora" name="hora" disabled />
    <label for="llegada">Fecha de llegada:</label>

    <input
    class="viaje"
      type="datetime-local"
      id="llegada"
      name="llegada"
      value=""
      min=""
      max=""
    />

    <label for="ruta">Precio:</label>
    <input type="text" class="viaje" id="precio" name="precio" />

    <label for="asientos">Cantidad de asientos:</label>
    <input type="text" class="viaje" id="asientos" name="asientos" />
    <br />
    <button id="guardar">Cargar</button>
</div>

<% 
      data.forEach( (ruta) => { %>
<input type="hidden" id="<%=ruta._id%>" value="<%=ruta.hora%>">
      
      <% }); %>
<script src="/js/cargar-viaje.js"></script>
<%- include("partials/footer"); -%>
