<%- include("partials/header-pasajero"); -%>

<% function pad(number) {
  if (number < 10) {
    return "0" + number;
  }
  return number;
}
    
    Date.prototype.completa = function () {
  return (
    pad(this.getDate()) +
    "/" +
    pad(this.getMonth() + 1) +
    "/" +
    pad(this.getFullYear()) +
    " " +
    pad(this.getHours()) +
    ":" +
    pad(this.getMinutes()) +
    "hs"
  );
}; %>

<div>
  <form action="/comprar-pasaje" method="POST">
    <div class="form-group">
      <label for="origen">Origen:</label>
      <input
        type="text"
        name="origen"
        id="origen"
        class="form-control"
        value="<%= viaje.ruta.origen.nombre %>"
        disabled
      />
      
    </div>
    <div class="form-group">
      <label for="destino">Destino:</label>
      <input
        type="text"
        name="destino"
        id="destino"
        class="form-control"
        value="<%= viaje.ruta.destino.nombre %>"
        disabled
      />
      <input type="text" name="id-ruta" value="<%= viaje.ruta.destino.idRuta %>" hidden />
    </div>
    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input
        type="text"
        name="fecha"
        id="fecha"
        class="form-control"
        value="<%= (new Date(Date.parse(viaje.fecha))).completa() %>"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input
        type="text"
        name="precio"
        id="precio"
        class="form-control"
        value="<%= viaje.precio %>"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad de pasajes:</label>
      <input
        type="number"
        name="cantidad"
        id="cantidad"
        class="form-control"
        value="1"
        min="1"
      />
    </div>
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <input
        type="text"
        name="tipo"
        id="tipo"
        class="form-control"
        value="<%= viaje.combi.tipo %>"
        disabled
      />
    </div>
    <div class="form-group">
    <label for="insumos">Insumos:</label>
    <br>
    <select name="insumos" id="insumos">
      <% insumos.forEach( (insumo) => { %>
        <option  value="<%= insumo.nombre%>" > <%= insumo.nombre%> </option>
      <%})%>
    </select>
    <% insumos.forEach( (insumo) => { %>
      <input type="hidden" class="<%= insumo.nombre %>" name="precio" value="<%= insumo.precio %>">
    <%} ) %>
    <br>
    <button type="button" id="agregar">Agregar Insumo</button>
    <br>

    <div id="listInsumo">

    </div>
    
    </div>
    <div class="form-group">
        <label for="subtotal">Subtotal:</label>
        <input
          type="text"
          name="subtotal"
          id="subtotal"
          class="form-control"
          value="<%= viaje.precio %>"
          disabled
        />
        <input type="text" name="id-subtotal" value="valor del subtotal" hidden />
      </div>
      <div class="form-group">
        <label for="descuento Gold">Descuento:</label>
        <input
          type="text"
          name="descuento"
          id="descuento"
          class="form-control"
      value="<% if(tipo=="Cliente gold") {%> <%= "10%" %>  <% }else{ %><%= "0%" %><% } %>"
          disabled
        />
        <input type="text" name="id-descuento-gold" value="valor del descuento Gold" hidden />
    <div class="form-group">
      <label for="total">Total:</label>
      <input
        type="text"
        name="total"
        id="total"
        class="form-control"
        value=" <%= viaje.precio %>"
        disabled
      />
      <input type="text" name="id-total" value="valor del total" hidden />
      <div id="tarjeta">
        <div class="form-group">
            <label for="cod">Numero de la Tarjeta:</label>
            <input type="text" required name="cod" id="cod" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="vencimiento"> Fecha de Vencimiento: </label>
            <input type="month" required name="vencimiento" id="vencimiento" class="form-control"autocomplete="off">
            <div id="errFV"></div>
        </div>
        <div class="form-group">
            <label for="nombreT">Nombre como figura en la tarjeta:</label>
            <input type="text" required class="form-control" name="nombreT" id="nombreT" autocomplete="off" placeholder="">
        </div>
        <div class="form-group">
            <label for="dniT">DNI del titular:</label>
            <input type="number" required name="dniT" id="dniT" autocomplete="off" class="form-control">
            
        </div>
        <div class="form-group">
            <label for="seg">Codigo de Seguridad</label>
            <input type="text" required size="3" name="seg" id="seg"  autocomplete="off" class="form-control" maxlength="3">
            <div id="errCS" ></div>
        </div>  
        <div id="errT"> </div>

    </div>
    </div>
    <button type="submit">Confirmar</button>
    <a href="http://localhost:3000/home">Cancelar</a>
  </form>
</div>

<script src="/js/comprar-pasaje.js"></script>

<%- include("partials/footer"); -%>
