<%- include("partials/header"); -%>
<h1>Lista de Viajes</h1>
<a href="/cargar-viaje">
  <button id="cargar-viaje">Cargar Viaje</button>
</a>
<% if (!viajes.length) { %>
<h2>No hay viajes cargados</h2>
<% } else { %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Combi</th>
      <th scope="col">Chofer</th>
      <th scope="col">Fecha salida</th>
      <th scope="col">Fecha llegada</th>
      <th cope="col">Precio</th>
      <th scope="col"></th>
      <th cope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% viajes.forEach( (viaje) => { %>
    <tr>
      <td>
        <%= viaje.ruta.origen.nombre %>, <%= viaje.ruta.origen.provincia %>
      </td>
      <td>
        <%= viaje.ruta.destino.nombre %>, <%= viaje.ruta.destino.provincia %>
      </td>
      <td>
        <%= viaje.combi.patente %>, <%= viaje.combi.marca %>, <%=
        viaje.combi.modelo %>
      </td>
      <td>
        <%= viaje.chofer.nombre %>, <%= viaje.chofer.apellido %>, <%= viaje.chofer.mail %>
      </td>
      <td><%= viaje.fecha %></td>
      <td><%= viaje.llegada %></td>
      <td><%= viaje.precio %></td>
      <td>
        <form action="/modificar-viaje/<%= viaje._id %>" method="GET">
          <button type="submit">Modificar</button>
        </form>
      </td>
      <td>
        <form action="/viaje/<%= viaje._id %>" method="GET">
          <button type="submit">Eliminar</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } %> <%- include("partials/footer"); -%>
