<%- include("partials/header-pasajero"); -%>
<h1>Lista de Pasajes</h1>

<% if (!data.length) { %>
<h2>No posee pasajes pendientes</h2>
<% } else {
  
  function pad(number) {
  if (number < 10) {
    return "0" + number;
  }
  return number;
}
    
    Date.prototype.completa = function () {
  return (
    pad(this.getDate()) +
    "/" +
    pad(this.getMonth() + 1) +
    "/" +
    pad(this.getFullYear()) +
    " " +
    pad(this.getHours()) +
    ":" +
    pad(this.getMinutes()) +
    "hs"
  );
}%>
<div id="error"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Estado</th>
      <th scope="col">Cantidad de pasajes comprados</th>
      <th scope="col">Precio</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha y hora</th>
      <th scope="col">Tipo de servicio</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(function(pasaje) { %>
    <tr>
      <td><%= pasaje.estadoPasaje %></td>
      <td><%= pasaje.cantidad %></td>
      <td><%= pasaje.precio %></td>
      <td><%= pasaje.origen.nombre %> - <%= pasaje.origen.provincia %></td>
      <td><%= pasaje.destino.nombre %> - <%= pasaje.destino.provincia %></td>
      <td><%= (new Date(Date.parse(pasaje.fecha))).completa() %></td>
      <td><%= pasaje.tipoServicio %></td>
      <td><% if(pasaje.estadoPasaje == "Pendiente"){ %>
        <button
          class="cancelar"
          id="<%= pasaje._id %>"
          onclick="cancelar(this)"
        >
          Cancelar
        </button>
        <% } %>
      </td>
    </tr>
    <%  }); %>
  </tbody>
</table>
<script>
  function cancelar(comp) {
    if (window.confirm("Esta seguro que quiere cancelar el pasaje?")) {
      document.getElementById("error").innerHTML = "";
      let id = comp.id;
      fetch("/pasaje/" + id, {
        method: "PUT",
      })
        .then((res) => res.json())
        .then((data) => {
          switch (data.response) {
            case "bien48hsAntes":
              window.alert("Se le ha reembolsado el 100% del costo del pasaje a su tarjeta");
              location.reload();
              break;
            case "bien":
              window.alert("Se le ha reembolsado sólo el 50% del costo del pasaje a su tarjeta, porque faltan menos de 48hs para el viaje");
              location.reload();
              break;
            default:
              document.getElementById("error").innerHTML =
                '<small  style="color:red"><p class="er">' +
                data.response +
                " </p></small>";
              break;
              break;
          }
        });
    }
  }

</script>
<% } %> <%- include("partials/footer"); -%>
