<%- include("partials/header"); -%>
<h1>Lista de Insumos</h1>
<a href="/alta-insumo">
    <button id="alta-insumo">Cargar Insumo</button>
</a>
<% if (!data.length) { %>
    <h2>No hay insumos cargados</h2>
<% } else { %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" >Nombre</th>
                <th scope="col" >Tipo</th>
                <th scope="col" >Precio</th>
            </tr>
        </thead>
    </table>
    <table class="table table-striped">
        <tbody>
        <% data.forEach(function(insumo) { %>
            <tr>
                <td><%= insumo.nombre %></td>
                <td><%= insumo.tipo %></td>
                <td><%= insumo.precio %></td>
                <td>
                    <form action="modificar-insumo/<%= insumo._id %>" method="GET">
                        <button type="submit">Modificar</button>
                    </form>
                </td>
                <td>
                    <form action="/insumo/<%= insumo._id %>" method="GET">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } %>
<%- include("partials/footer"); -%>
