<%- include("partials/header-chofer"); -%>
  <% function pad(number) { if (number < 10) { return "0" + number; } return number; } Date.prototype.completa=function
    () { return ( pad(this.getDate()) + "/" + pad(this.getMonth() + 1) + "/" + pad(this.getFullYear()) + " " +
    pad(this.getHours()) + ":" + pad(this.getMinutes()) + "hs" );} 
  function faltanMinutos(){
   return (((viaje.fecha).getTime() - (new Date))/(1000 * 60)) <= 30;
  
  } %>
    <h1>Lista de Pasajeros</h1>
    <h5>Origen: <%= viaje.ruta.origen.nombre %>
        <%= viaje.ruta.origen.provincia %>
    </h5>
    <h5>Destino: <%= viaje.ruta.destino.nombre %>
        <%= viaje.ruta.destino.provincia %>
    </h5>
    <h5>Fecha salida: <%= (viaje.fecha).completa() %>
        </h>
        <h5>Asientos disponibles: <div id="asientos" style="display: inline;"><%= viaje.asientosDisponibles %></div>
        </h5>
        <h5>Estado: <div id="estado" style="display: inline;"><%= viaje.estado %></div>
        </h5>
        <div id="botones">
          <form id="iniciar_form" action="/iniciar-viaje/<%= viaje._id %> " method="GET"> <button
              class="btn btn-primary" style="display: none;" id="iniciar" >Iniciar</button></form>
        </div>

        <% if (!pasajes.length) { %>
          <h2>No hay pasajeros</h2>
          <% } else { %>
            <div id="error"></div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Pasajero</th>
                  <th scope="col">Estado pasaje</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% pasajes.forEach(function(pasaje) { %>
                  <tr>
                    <td>
                      <%= pasaje.emailPasajero %>
                    </td>
                    <% if (pasaje.estadoPasaje=="Cancelado" ) { %>
                      <td name="estado">Cancelado - Motivo: <%= pasaje.motivoCancelacion %>
                      </td>
                      <td></td>
                      <td></td>
                      <% } else { if (pasaje.estadoPasaje=="Activo" ||pasaje.estadoPasaje=="Finalizado") { %>
                        <td name="estado"><%= pasaje.estadoPasaje %> </td>
                        <td></td>
                        <td></td>
                        <% } else { if (pasaje.estadoPasaje=="Pendiente" && faltanMinutos()) { %>
                          <td name="estado">Pendiente</td>
                          <td name="sintomas">
                            <form action="/registrar-sintomas/<%= pasaje._id %>" method="GET">
                              <button type="submit">Registrar síntomas</button>
                            </form>
                          </td>
                          <td name="ausentes">
                            <button id="ausente" name="<%= pasaje._id %>" onclick="pasajeAusente(this)">No se presentó</button>
                          </td>
                          
                          <% } else {%>
                            <td name="estado">Pendiente</td>
                            <td></td>
                            <td></td>
                        <% }}}%>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
                            <input type="hidden" name="idViaje" id="idViaje" value="<%= viaje._id%>">
            <script>
              function pasajeAusente(pasaje) {
                ok = window.confirm("Desea registrar al pasajero como ausente?");
                if(ok){
                  fetch("/cancelar-pasaje-chofer", {
                  method: "post",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({
                    idPasaje: pasaje.name,
                    idViaje: idViaje.value,
                    motivo: "Ausente"
                  }),
                })
                  .then((res) => res.json())
                  .then((data) => {
                    switch (data.response) {
                      case "bien":
                        location.replace("/listar-pasajeros/" + idViaje.value);
                        break;
                    }
                  });
                }
              }
              if (estado.innerHTML === "En espera") {
                let btn_sintomas = document.getElementsByName("sintomas");
                let btn_ausentes = document.getElementsByName("ausentes");
                if (btn_ausentes.length === 0 && btn_sintomas.length === 0 && !pendientes()) {
                  $("#iniciar").show("fast");
                }
              }else if(estado.innerHTML === "En viaje"){
                botones.innerHTML = '<form id="terminar_form" action="/terminar-viaje/<%= viaje._id %>" method="GET"> <button class="btn btn-primary"  id="terminar">Terminar</button></form><br>'
                if (asientos.innerHTML > 0) {
                  botones.innerHTML += '<form id="vender_form" action="/vender-pasaje/<%= viaje._id %>" method="GET"> <button class="btn btn-primary"  id="vender">Vender Pasaje</button></form>'
                } 
              }else{
                botones.innerHTML =""
              }

              function pendientes(){
                let estados= document.getElementsByName("estado");
                let cont=0;
                for (let i = 0; i < estados.length; i++) {
                  const e = estados[i];
                  if(e.innerHTML==="Pendiente"){
                    cont+=1
                  }
                }
                return cont
              }
            </script>
            <script src="/js/listar-pasajeros.js"></script>
            <% } %>
              <%- include("partials/footer"); -%>