<%- include("partials/header"); -%>
<h1>Lista de Insumos</h1>
<a href="/alta-insumo">
    <button id="alta-insumo">Cargar Insumo</button>
</a>
<% if (!data.length) { %>
    <h2>No hay insumos cargados</h2>
<% } else { %>
      <div id="error"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" >Nombre</th>
                <th scope="col" >Tipo</th>
                <th scope="col" >Precio</th>
                <th scope="col" ></th>
                <th scope="col" ></th>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(insumo) { %>
            <tr>
                <td><%= insumo.nombre %></td>
                <td><%= insumo.tipo %></td>
                <td><%= insumo.precio %></td>
                <td>
                    <form action="modificar-insumo/<%= insumo._id %>" method="GET">
                        <button type="submit">Modificar</button>
                    </form>
                </td>
                <td>
                        <button class="eliminar" id="<%= insumo._id %>" onclick="eliminar(this)">Eliminar</button>
                   
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<script>
  function eliminar(comp){
    if (window.confirm("desea eliminar el insumo?")) {
    document.getElementById("error").innerHTML ="";
  let id = comp.id;
    fetch("/insumo/"+ id, {
        method: "DELETE"}).then((res) => res.json())
        .then((data) => {
            switch (data.response) {
                case "bien":
                    location.reload();
                    window.open("/listar-insumos", "se elimino el insumo ");          
                    break;
                default:
                   document.getElementById("error").innerHTML =
                        '<small  style="color:red"><p class="er">'+data.response+' </p></small>';
                    break;
                break;
            }
           
        });
    }
}
</script>
<% } %>

<%- include("partials/footer"); -%>
