<%- include("partials/header-pasajero"); -%>
<h1>Mis pasajes cancelados</h1>

<% if (!data.length) { %>
<h2>No posee pasajes cancelados</h2>
<% } else { 
  
  function pad(number) {
    if (number < 10) {
      return "0" + number;
    }
    return number;
  }
      
      Date.prototype.completa = function () {
    return (
      pad(this.getDate()) +
      "/" +
      pad(this.getMonth() + 1) +
      "/" +
      pad(this.getFullYear()) +
      " " +
      pad(this.getHours()) +
      ":" +
      pad(this.getMinutes()) +
      "hs"
    );
  }
  function getDifferenceInHours(date1, date2) {
    const diffInMs = Math.abs(date2 - date1);
    return diffInMs / (1000 * 60 * 60);
  }
function round(aDate){
  return(Math.round(aDate));
}
  %>

<div id="error"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Estado</th>
      <th scope="col">Cantidad de pasajes comprados</th>
      <th scope="col">Precio</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha y hora</th>
      <th scope="col">Tipo de servicio</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(function(pasaje) { %>
    <tr>
      <td><%= pasaje.estadoPasaje %><i>(<%= round(getDifferenceInHours((new Date(Date.parse(pasaje.fecha))), (new Date(Date.parse(pasaje.fechaCancelado)))))%> hs antes del viaje)</i></td>
      <td><%= pasaje.cantidad %></td>
      <td><%= pasaje.precio %></td>
      <td><%= pasaje.origen.nombre %> - <%= pasaje.origen.provincia %></td>
      <td><%= pasaje.destino.nombre %> - <%= pasaje.destino.provincia %></td>
      <td><%= (new Date(Date.parse(pasaje.fecha))).completa() %></td>
      <td><%= pasaje.tipoServicio %></td>
    </tr>
    <%  }); %>
  </tbody>
</table>

<% } %> <%- include("partials/footer"); -%>
