<%- include("partials/header"); -%>
<h1>Lista de Insumos</h1>

<% if (!data.length) { %>
    <h2>No hay insumos cargados</h2>
<% } else { %>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(insumo) { %>
            <tr>
                <td><%= insumo.nombre %></td>
                <td><%= insumo.tipo %></td>
                <td><%= insumo.precio %></td>
                <td><button >Modificar</button></td>
                <td><button >Eliminar</button></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } %>
<%- include("partials/footer"); -%>
