<%- include("partials/header"); -%>
<div>
<h1>Lista de Choferes</h1>
<form action="/alta-chofer" method="GET">
<button type="submit">Alta Chofer</button>
</form>

<% if (!data.length) { %>
    <h2>No hay choferes cargados</h2>
<% } else { %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(chofer) { %>
            <tr>
                <td><%= chofer.nombre%>   </td>
                <td><%= chofer.apellido %>   </td>
                <td><%= chofer.email %></td>
                <td><%= chofer.telefono %></td>
                <td>
                    <form action="detalle-chofer/<%= chofer.email %>" method="GET">
                        <button type="submit">Detalles</button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } %>
</div>
<%- include("partials/footer"); -%>
