<%- include("partials/header"); -%>
<h1>Lista de Viajes que ya salieron/terminaron</h1>
<a href="/cargar-viaje">
  <button id="cargar-viaje">Cargar Viaje</button>
</a>
<hr>
<% if (!viajes.length) { %>
<h2>No hay viajes que hayan comenzado/terminado</h2>
<% } else { %>

  <div id="error"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Combi</th>
      <th scope="col">Chofer</th>
      <th scope="col">Fecha salida</th>
      <th scope="col">Fecha llegada</th>
      <th cope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <% viajes.forEach( (viaje) => { %>
    <tr>
      <td>
        <%= viaje.ruta.origen.nombre %>, <%= viaje.ruta.origen.provincia %>
      </td>
      <td>
        <%= viaje.ruta.destino.nombre %>, <%= viaje.ruta.destino.provincia %>
      </td>
      <td>
        <%= viaje.combi.patente %>, <%= viaje.combi.marca %>, <%=
        viaje.combi.modelo %>
      </td>
      <td>
        <%= viaje.chofer.nombre %>, <%= viaje.chofer.apellido %>, <%= viaje.chofer.mail %>
      </td>
      <td><%= viaje.fecha %></td>
      <td><%= viaje.llegada %></td>
      <td><%= viaje.precio %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } %>

<%- include("partials/footer"); -%>
