<%- include("partials/header"); -%>
<h1>Lista de Lugares</h1>
<a href="/cargar-lugar">
  <button id="cargar-lugar">Cargar Lugar</button>
</a>

<table>
  <thead>
    <tr>
      <th>Ciudad</th>
      <th>Provincia</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((lugar) => { %>
    <tr>
      <td><%= lugar.ciudad %></td>
      <td><%= lugar.provincia %></td>
      <td>
        <form action="modificar-lugar/<%= lugar._id %>" method="GET">
            <button type="submit">Modificar</button>
        </form>
      </td>
      <td>
          <form action="/lugar/<%= lugar._id %>" method="GET">
              <button type="submit">Eliminar</button>
          </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include("partials/footer"); -%>
