<%- include("partials/header"); -%>
<h1>Lista de Lugares</h1>
<a href="/cargar-lugar">
  <button id="cargar-lugar">Cargar Lugar</button>
</a>

<% if (!data.length) { %>
  <h2>No hay lugares cargados</h2>
<% } else { %>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-md-3">Ciudad</th>
      <th scope="col"  class="col-md-3">Provincia</th>
      <th scope="col" class="col-md-3"></th>
      <th scope="col" class="col-md-3"></th>
    </tr>
  </thead>
</table>
<table class="table table-striped">
  <tbody>
    <% data.forEach((lugar) => { %>
    <tr>
      <td  class="col-md-3"><%= lugar.ciudad %></td>
      <td class="col-md-3"><%= lugar.provincia %></td>
      <td class="col-md-3">
        <form action="modificar-lugar/<%= lugar._id %>" method="GET">
            <button type="submit">Modificar</button>
        </form>
      </td>
      <td class="col-md-3">
          <form action="/lugar/<%= lugar._id %>" method="GET">
              <button type="submit">Eliminar</button>
          </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } %>
<%- include("partials/footer"); -%>
