<%- include("partials/header"); -%>

<div>
  <!-- falta checkear los valores que ya estar cargados en la ruta a modificar -->
  <form action="/viaje" method="POST">
    <label for="ruta">Elige una ruta:</label>
    <select name="ruta" id="ruta">
      <% rutas.forEach( (ruta) => { %>
      <option value="<%= ruta._id %>">
        <%= ruta.origen.nombre %>-<%= ruta.destino.nombre %>
      </option>
      <% }); %>
    </select>

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" value="<%= viaje.fecha %>" />

    <label for="llegada">Fecha de llegada:</label>

    <input
      type="datetime-local"
      id="llegada"
      name="llegada"
      value="<%= viaje.llegada %>"
      min=""
      max=""
    />

    <label for="precio">Precio:</label>
    <input type="text" id="precio" name="precio" value="<%= viaje.precio %>" />

    <label for="asientos">Cantidad de asientos:</label>
    <input
      type="text"
      id="asientos"
      name="asientos"
      value="<%= viaje.asientosDisponibles %>"
    />
    <br />
<input type="hidden" name="idViaje" id="idViaje" value="<%= viaje._id %>">

<input type="text" name="patente" id="patente" value="<%= viaje.combi.patente %>">

      <button type="submit" name="button">Guardar cambios</button>


    <a href="http://localhost:3000/home">Cancelar</a>
  </form>
</div>

<%- include("partials/footer"); -%>
