<%- include("partials/header"); -%>
<%let llegada=viaje.llegada
        let fecha=viaje.fecha;
  (function() {
    function pad(number) {
      if (number < 10) {
        return '0' + number;
      }
      return number;
    }

    Date.prototype.fullFecha = function() {
      return this.getUTCFullYear() +
        '-' + pad(this.getMonth() + 1) +
        '-' + pad(this.getDate()) +
        'T' + pad(this.getHours()) +
        ':' + pad(this.getMinutes()) 
    };
     Date.prototype.mediaFecha = function() {
      return this.getFullYear() +
        '-' + pad(this.getMonth() + 1) +
        '-' + pad(this.getDate()) 
    };
    Date.prototype.hora = function() {
      return pad(this.getHours()) +
        ':' + pad(this.getMinutes()) 
    };

  }());%>
<div>
<datalist id="rutas">
  <% 
        rutas.forEach( (ruta) => { %>
  <option value="<%= ruta._id %>">
    <%= ruta.origen.nombre %>-<%= ruta.destino.nombre %> -<%= ruta.hora %>
  </option>
  <% }); %>

  </datalist>
  <!-- falta checkear los valores que ya estar cargados en la ruta a modificar -->
  <h1>Modificar viaje</h1>
  <br>
  <div id="err"></div>
  <br>
    <label for="ruta"> Ruta:</label>
    <input type="search" name=" ruta" id="ruta" class="mV" value="<%=viaje.ruta.idRuta%>" list="rutas">

    <label for="ciudadO">Cuidad Origen:</label>
    <input type="text" name="ciudadO" id="ciudadO" disabled>

    <label for="ciudadD">Cuidad Destino:</label>
    <input type="text" name="ciudadD" id="ciudadD" disabled>

    <label for="ciudadD">Combi:</label>
    <input type="text" name="combi" id="combi" disabled>
 
    
    <label for="hora">Hora:</label>
    <input type="time" class="mV" id="hora" name="hora" value="<%= fecha.hora() %>" disabled />
    <hr>
    <label for="fecha">Fecha:</label>
    <input type="date"class="mV" id="fecha" name="fecha" value="<%= fecha.mediaFecha() %>"  min="<%= fecha.mediaFecha() %>"/> 
    <br>
    <br>
    <label for="llegada">Fecha de llegada:</label>
    <input type="hidden" id="l" value="">
    <input
      type="datetime-local"
      id="llegada"
      name="llegada"
      value="<%=llegada.fullFecha()%>"
      min="<%= fecha.fullFecha() %>"
      max=""class="mV"
    />
    <br>
    <br>

    <label for="precio">Precio:</label>
    <input type="text" class="mV"id="precio" name="precio" value="<%= viaje.precio %>" />
   
    <label for="asientos">Cantidad de asientos:</label>
    <input
      type="text"
      id="asientos"
      name="asientos" class="mV"
      value="<%= viaje.asientosDisponibles %>"
    />
    <br />
<input type="hidden" name="idViaje" id="idViaje" value="<%= viaje._id %>">
  <br>

      <button type="submit" id="modificar">Guardar cambios</button>


    <a href="http://localhost:3000/home">Cancelar</a>

</div>
<% 
      rutas.forEach( (ruta) => { %>
<input type="hidden" id="<%=ruta._id%>" value="<%=ruta.hora%>">
      <input type="hidden" class="<%=ruta._id%>" name="origen" value="<%=ruta.origen.nombre%>-<%=ruta.origen.provincia%>">
      <input type="hidden" class="<%=ruta._id%>" name="destino" value="<%=ruta.destino.nombre%>-<%=ruta.destino.provincia%>">

      <input type="hidden" class="<%=ruta._id%>" name="combi" value="<%=ruta.combi.patente%>">
      <% }); %>
      
<script src="/js/modificar-viaje.js">
   
</script>
<%- include("partials/footer"); -%>
