<%- include("partials/header"); -%>
<%let llegada=viaje.llegada
        let fecha=viaje.fecha;
  (function() {
    function pad(number) {
      if (number < 10) {
        return '0' + number;
      }
      return number;
    }

    Date.prototype.fullFecha = function() {
      return this.getUTCFullYear() +
        '-' + pad(this.getMonth() + 1) +
        '-' + pad(this.getDate()) +
        'T' + pad(this.getHours()) +
        ':' + pad(this.getMinutes()) 
    };
     Date.prototype.mediaFecha = function() {
      return this.getFullYear() +
        '-' + pad(this.getMonth() + 1) +
        '-' + pad(this.getDate()) 
    };
    Date.prototype.hora = function() {
      return pad(this.getHours()) +
        ':' + pad(this.getMinutes()) 
    };

  }());%>
<div>

  <!-- falta checkear los valores que ya estar cargados en la ruta a modificar -->  
  <h1>Modificar viaje</h1>
  <br>
  <div class="row">
    <div class="col-6" style="border-right: solid 1px #aaa;">
      <h4>Datos actuales</h4>
      <label for="ruta"> Ruta:</label>
      <select  disabled>
        <% 
                          rutas.forEach( (ruta) => { %>
        <option value="<%= ruta._id %>" <%if(viaje.ruta.idRuta== ruta._id){%> <%="selected" %><%}%>  >
                    <%= ruta.origen.nombre+" "+ruta.origen.provincia %> -
          <%= ruta.destino.nombre+" "+ruta.destino.provincia %> - <%= ruta.hora %> - <%=ruta.combi.patente%> </option>
          <% }); %>
      </select><br>
      <small>*formato: origen, destino, hora , patente de la combi asignada a la ruta</small>
      <div style=" margin: 3px; padding: 1px; ">
        <p>Datos de la combi:</p>
        <label for="marca">Marca:</label>
        <input value="<%=viaje.combi.marca%>" disabled><br><br>
        <label for="modelo">Modelo:</label>
        <input value="<%=viaje.combi.modelo%>" disabled><br><br>
        <label for="tipo">Tipo:</label>
        <input value="<%=viaje.combi.tipo%>" disabled>
      </div>
      <hr>
      <label for="fecha">Fecha:</label>
      <input type="date" disabled value="<%= fecha.mediaFecha() %>"
        min="<%= fecha.mediaFecha() %>" />
      <br>
      <br>
      <label for="llegada">Fecha de llegada:</label>
      <input type="hidden" id="l" value="">
      <input type="datetime-local" disabled  value="<%=llegada.fullFecha()%>" min="<%= fecha.fullFecha() %>"
        max="" class="mV" />
      <br>
      <br>
      <label for="precio">Precio:</label>
      <input type="text" class="mV" disabled  value="<%= viaje.precio %>" />
      <br><br>
      
      <label for="asientos">Cantidad de asientos:</label>
      <input type="text" disabled class="mV" value="<%= viaje.asientosDisponibles %>" />
      
      <br />
      <input type="hidden" name="idViaje" id="idViaje" value="<%= viaje._id %>">
      <br>
    </div>
    <div class="col-6" >
      <h4>Nuevos datos</h4>
      <label for="ruta"> Ruta:</label>
      <select name="ruta" id="ruta">
        <% 
                    rutas.forEach( (ruta) => { %>
        <option value="<%= ruta._id %>" <%if(viaje.ruta.idRuta== ruta._id){%> <%="selected" %><%}%>  >
              <%= ruta.origen.nombre+" "+ruta.origen.provincia %> - <%= ruta.destino.nombre+" "+ruta.destino.provincia %> -
          <%= ruta.hora %> - <%=ruta.combi.patente%> </option>
          <% }); %>
      </select><br>
      <small>*formato: origen, destino, hora , patente de la combi asignada a la ruta</small>
      <div id="errR" class="err"></div>
      <div style=" margin: 3px; padding: 1px; ">
        <p>Datos de la combi:</p>
        <label for="marca">Marca:</label>
        <input id="marca" disable><br><br>
        <label for="modelo">Modelo:</label>
        <input id="modelo" disable><br><br>
        <label for="tipo">Tipo:</label>
        <input id="tipo" disable>
      </div>
      <hr>
      <label for="fecha">Fecha:</label>
      <input type="date" class="mV" id="fecha" name="fecha" value="<%= fecha.mediaFecha() %>"
        min="<%= fecha.mediaFecha() %>" />
      <div id="errF" class="err"></div>
      <br>
      
      <label for="llegada">Fecha de llegada:</label>
      <input type="hidden" id="l" value="">
      <input type="datetime-local" id="llegada" name="llegada" value="<%=llegada.fullFecha()%>" min="<%= fecha.fullFecha() %>"
        max="" class="mV" />
      <div id="errL" class="err"></div>
      <br>
      
      <label for="precio">Precio:</label>
      <input type="text" class="mV" id="precio" name="precio" value="<%= viaje.precio %>" />
      <br><br>

      <label for="asientos">Cantidad de asientos:</label>
      <input type="text" id="asientos" name="asientos" class="mV" value="<%= viaje.asientosDisponibles %>" />
      <div id="errA" class="err"></div>
      <br />
      <input type="hidden" name="idViaje" id="idViaje" value="<%= viaje._id %>">
      <br>
      <div id="err" class="err"></div>
      <button type="submit" id="modificar">Guardar cambios</button>
      
      
      <a href="http://localhost:3000/home">Cancelar</a>
    </div>
    
  </div>
    

</div>
<% 
      rutas.forEach( (ruta) => { %>
<input type="hidden" id="<%=ruta._id%>" value="<%=ruta.hora%>">
      <input type="hidden" class="<%=ruta._id%>" name="marca" value="<%=ruta.combi.marca%>">
      <input type="hidden" class="<%=ruta._id%>" name="modelo" value="<%=ruta.combi.modelo%>">

      <input type="hidden" class="<%=ruta._id%>" name="tipo" value="<%=ruta.combi.tipo%>">
      <% }); %>
      
<script src="/js/modificar-viaje.js">
   
</script>
<%- include("partials/footer"); -%>
