<%- include("partials/header"); -%>
<h1>Modificar Insumo </h1>

<form action = "/modificar-insumo" method="POST">
    <label for="nombre" required>Nombre:</label><br>
    <input type="text" placeholder="<%= data.nombre %>" value="<%= data.nombre %>" id="nombre" name="nombre"/><br>
    <label for="tipo" required>Tipo:</label><br>
    <select name="tipo" id="tipo" name="tipo" >
        <option value="dulce">Dulce</option>
        <option value="salado">Salado</option>  
    </select><br>
    <label for="precio" required>Precio:</label><br>
    <input type="text" placeholder="<%= data.precio %>" value="<%= data.precio %>" id="precio" name="precio"/><br>
    <input type="hidden" value="<%= data._id %>" id="id" name="id"/>
    <button type="submit">Modificar</button>
</form> 
<a href="http://localhost:3000/listar-insumos">
    <button id="cancelar">Cancelar</button>
</a>

<%- include("partials/footer"); -%>