<%- include("partials/header"); -%>
<h1>Modificar Combi</h1>
<div class="row">
  <div class="col-6" style="border-right: solid 1px #aaa;">
    <h4>Datos Actuales</h4>
    <div class="form-group">
      <label for="">Patente:</label>
      <input type="text" disabled class="    alta" value="<%=data.combi.patente%>">
    </div>
    <br>
    <div class="form-group">
      <label for="marca">Marca:</label>
      <input type="text" disabled class="    alta" value="<%=data.combi.marca%>">
    </div>
    <br>
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" disabled class="    alta" value="<%=data.combi.modelo%>">
    </div>
    <hr>
    <div class="form-group">
      <label for="chofer">Chofer:</label>
      <select disabled>
        <% data.choferes.forEach(function(chofer) { %>
        <option value="<%= chofer.email %>" <% if(chofer.email== data.combi.chofer.email){ %><%= "selected" %> <% } %>>
          <%= chofer.nombre%>
          <%= chofer.apellido %> </option>
        <% }); %>
      </select>
      <input type="text" value="<%=data.combi.chofer.email%>%>" disabled>
    </div>
    <hr>
    <div class="form-group">
      <label for="asientos">Cantidad de Asientos</label>
      <input type="number" disabled value="<%=data.combi.asientos%>">
    </div>
    <label for="tipo">Tipo de Combi: </label>
    <br>
    <label class="form-check-label">
    <input type="radio" disabled class="form-check-input" <% if(data.combi.tipo=="Comoda"){ %> <%= "checked" %> <% } %>  value="comoda">
      Comoda
    </label>

    <label class="form-check-label">
      <input type="radio" disabled class="form-check-input" <% if(data.combi.tipo=="Super Comoda"){ %> <%= "checked" %> <% } %>  value="super">
      Super Comoda
    </label>
  </div>
  <div class="col-6">
    <h4>Nuevos datos</h4>
    <input type="hidden" id="id" value="<%= data.combi._id %>">
    <div class="form-group">
      <label for="">Patente:</label>
      <input type="text" name="patente" id="patente" class="    alta" value="<%=data.combi.patente%>">
    </div>
    <input type="hidden" id="patenteV" value="<%=data.combi.patente%>">
    <div id="errP" class="err"></div>
    <br>
    <div class="form-group">
      <label for="marca">Marca:</label>
      <input type="text" name="marca" id="marca" class="    alta" value="<%=data.combi.marca%>">
    </div>
    <br>
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" name="modelo" id="modelo" class="    alta" value="<%=data.combi.modelo%>">
    </div>
    <hr>
    <div class="form-group">
      <label for="chofer">Chofer:</label>
      <select name="chofer" id="chofer">
        <% data.choferes.forEach(function(chofer) { %>
        <option   value="<%= chofer.email %>" <% if(chofer.email== data.combi.chofer.email){ %><%= "selected" %> <% } %>  ><%= chofer.nombre%> 
            <%= chofer.apellido %> </option>
        <% }); %>
      </select>
      <input type="text" id="email" name="email" value="<%=data.combi.chofer.email%>%>"
        disabled>
    </div>
    <div id="errC" class="err"></div>
    <hr>
    <div class="form-group">
      <label for="asientos">Cantidad de Asientos</label>
      <input type="number" name="asientos" id="asientos" min="1" class="    alta" value="<%=data.combi.asientos%>">
    </div>
    <label for="tipo">Tipo de Combi: </label>
    <br>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="tipo" id="comoda" value="comoda ">
      Comoda
    </label>

    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="tipo" id="super" value="super">
      Super Comoda
    </label>
    <input type="hidden" id="hidden" value="<%= data.combi.tipo%>">
    <div id="err" class="err"></div>
    <br>
    <button id="guardar">Guardar Cambios</button>
  </div>
</div>
<script>
  if (document.getElementById("hidden").value === "Comoda") {
    document.getElementById("comoda").checked = true;
  } else {
    document.getElementById("super").checked = true;
  }
</script>
<script src="/js/modificar-combi.js"></script>
<%- include("partials/footer"); -%>