<%- include("partials/header"); -%>
<h1>Modificar Ruta </h1>
<datalist id="lugares">
  <% lugares.forEach(function(lugar) { %>
     <option value="<%= lugar._id %>"><%= lugar.ciudad%> <small>
          <%= lugar.provincia %> </small></option>
           <% }); %>
</datalist>
<datalist id="combis">
  <% combis.forEach(function(combi) { %>
     <option value="<%= combi._id %>"><%= combi.marca %>-<%= combi.modelo %>-<%= combi.patente %> </small></option>
           <% }); %>
</datalist>
<form action = "/modificar-ruta" method="POST">
    <label for="origen">Origen:</label><br>
    <input type="search" name="origen" id="origen" list="lugares" class="form-control alta" value="<%= ruta.origen.idLugar %>"/><br>
    <label for="destino">Destino:</label><br>
    <input type="search" name="destino" id="destino" list="lugares" class="form-control alta" value="<%= ruta.destino.idLugar %>"/><br>
    <label for="combi">Combi:</label><br>
    <input type="search" name="combi" id="combi" list="combis" class="form-control alta" value="<%= ruta.combi.idCombi %>"/><br>
    <label for="distancia">Distancia:</label><br>
    <input type="text" placeholder="<%= ruta.distancia %>" value="<%= ruta.distancia %>" id="distancia" name="distancia" required/><br>
    <label for="hora">Hora:</label><br>
    <input type="time" placeholder="<%= ruta.hora %>" value="<%= ruta.hora %>" id="hora" name="hora" required /><br>

    <input type="hidden" value="<%= ruta._id %>" id="id" name="id"/>
    <button type="submit">Modificar</button>
</form> 
<a href="http://localhost:3000/listar-rutas">
  <button id="cancelar">Cancelar</button>
</a>

<%- include("partials/footer"); -%>