<%- include("partials/header"); -%>
<h1>Modificar Insumo </h1>
<div class="row" style="margin-left: 3em ;">
    <div class="col-3" style="border-right: solid 1px #aaa;">
        <h4>Datos Actuales</h4>
        <label>Nombre:</label><br>
        <input class="minsumo" disabled value="<%= data.nombre %>" /><br>
        <label>Tipo:</label><br>
        <input value="<%=data.tipo%>" disabled>
        <br>
        <label>Precio:</label><br>
        <input value="<%= data.precio %>" disabled /><br>
    </div>
    <div class="col-6">
        <h4>Nuevos datos</h4>
        
        <label for="nombre" required>Nombre:</label><br>
        <input type="text" class="minsumo" placeholder="<%= data.nombre %>" value="<%= data.nombre %>" id="nombre"
            name="nombre" /><br>
        <label for="tipo" required>Tipo:</label><br>
        <select name="tipo" id="tipo" class="minsumo">
            <% if(data.tipo==="dulce"){%>
        
            <option value="dulce" selected>Dulce</option>
            <option value="salado">Salado</option>
            <%}else{%>
        
            <option value="dulce">Dulce</option>
            <option value="salado" selected>Salado</option>
            <%}%>
                </select>
        
                <br>
                
                <label for="precio" required>Precio:</label><br>
                <input type="text" placeholder="<%= data.precio %>" class="minsumo" value="<%= data.precio %>" id="precio"
            name="precio"/><br>
            <div id="err"></div>
            <input type="hidden" value="<%= data._id %>" id="id" name="id" /><br>
            
            <button id="modificar">Modificar</button>
            <a href="http://localhost:3000/listar-insumos">
                <button id="cancelar">Cancelar</button>
            </a>
    </div>
</div>

<script src="/js/modificar-insumo.js"></script>

<%- include("partials/footer"); -%>