<%- include("partials/header-pasajero"); -%>
<h2>Mi perfil</h2><br>
<%
function pad(number) {
  if (number < 10) {
    return "0" + number;
  }
  return number;
};
    
    Date.prototype.fecha= function(){
  return (
    pad(this.getDate()) +
    "/" +
    pad(this.getMonth() + 1) +
    "/" +
    pad(this.getFullYear()) 
  );
};
Date.prototype.mes= function(){
  return (
    pad(this.getMonth() + 2) +
    "/" +
    pad(this.getFullYear()) 
  );
};
%>
<div class="row">
    <div class="col-6">
        <p><strong>Email:</strong>
            <f id="email"><%= data.email %></f>
        </p>
        <p><strong>Nombre:</strong> <%= data.nombre %></p>
        <p><strong>Apellido:</strong> <%= data.apellido %></p>
        <p><strong>Dni:</strong> <%= data.dni %></p>
        <p><strong>Fecha de nacimiento:</strong> <%= (new Date(Date.parse(data.fechaN))).fecha()%></p>
        <p><strong>Tipo de subscripción:</strong> <%= data.categoria %></p>
    </div>
    <div class="col-6 recuadro">
        <% if (data.categoria == 'gold') {%>
        <h3>Datos de su tarjeta:</h3><br>
        <p><strong>Codigo:</strong> <%= data.tarjeta.codigo %></p>
        <p><strong>Vencimiento:</strong> <%= (new Date(Date.parse(data.tarjeta.vencimiento))).mes() %></p>
        <p><strong>Nombre completo:</strong> <%= data.tarjeta.nombreCompleto %></p>
        <p><strong>Dni:</strong> <%= data.tarjeta.dni %></p>
        <% } %>
    </div>
</div>
<br />
<form action="/modificar-perfil" method="GET">
    <button>Modificar</button>
</form>

<%- include("partials/footer"); -%>