<%- include("partials/header-pasajero"); -%>
<h2>Mi perfil</h2>
<div class="row">
    <div class="col-6">
        <p><strong>Email:</strong> <f id="email"><%= data.email %></f></p>
        <p><strong>Nombre:</strong> <%= data.nombre %></p>
        <p><strong>Apellido:</strong> <%= data.apellido %></p>
        <p><strong>Dni:</strong> <%= data.dni %></p>
        <p><strong>Fecha de nacimiento:</strong> <%= data.fechaN %></p>
        <p><strong>Tipo de subscripción:</strong> <%= data.categoria %></p>
    </div>
    <div class="col-6">
        <% if (data.categoria == 'gold') {%>
            <p><strong>Datos de su tarjeta:</strong></p>
            <p><strong>Codigo:</strong> <%= data.tarjeta.codigo %></p>
            <p><strong>Vencimiento:</strong> <%= data.tarjeta.vencimiento %></p>
            <p><strong>Nombre completo:</strong> <%= data.tarjeta.nombreCompleto %></p>
            <p><strong>Dni:</strong> <%= data.tarjeta.dni %></p>
        <% } %>
    </div>
</div>
<br />
<form action="/modificar-perfil" method="GET">
    <button>Modificar</button>
</form>

<%- include("partials/footer"); -%>
